.password {
  display: flex;
  flex-direction: column;

  &--form {
    gap: 1rem;
  }

  &__wrapper {
    padding: 1rem 0;
  }

  &__password {
    input:disabled {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: black;
    }
  }
}
